In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.decomposition import PCA

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('../data/processed/mall_customers_clean.csv')
df.head()

   Gender  Age  Annual Income (k$)  Spending Score (1-100)
0    Male   19                  15                      39
1    Male   21                  15                      81
2  Female   20                  16                       6
3  Female   23                  16                      77
4  Female   31                  17                      40

In [3]:
df=pd.get_dummies(data=df, columns=['Gender'], drop_first=True)
df.head()

   Age  Annual Income (k$)  Spending Score (1-100)  Gender_Male
0   19                  15                      39         True
1   21                  15                      81         True
2   20                  16                       6        False
3   23                  16                      77        False
4   31                  17                      40        False

In [4]:
# Feature scaling using StandardScaler where standardizes features by removing the mean (=0) and scaling to unit variance (=1)
scaler = StandardScaler()
scaled_features = scaler.fit_transform(df)  # df includes Gender_Male

In [5]:
# convert back to DataFrame for inspection
scaled_df = pd.DataFrame(scaled_features, columns=df.columns)
scaled_df.head()

        Age  Annual Income (k$)  Spending Score (1-100)  Gender_Male
0 -1.424569           -1.738999               -0.434801     1.128152
1 -1.281035           -1.738999                1.195704     1.128152
2 -1.352802           -1.700830               -1.715913    -0.886405
3 -1.137502           -1.700830                1.040418    -0.886405
4 -0.563369           -1.662660               -0.395980    -0.886405

In [6]:
# Saving the cleaned DataFrame without 'CustomerID'
scaled_df.to_csv('../data/processed/mall_customers_processed.csv', index=False)